<a href="https://colab.research.google.com/github/harshaanth/python-coding-exercises/blob/main/Pandas_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Exercises
We have seen a few ways to organize and work with data sets in Python. We will now explore one more. These exercises are designed to help you build familiarity with Pandas Data Frames, their features and functions.

Import the pandas library with the alias pd

In [ ]:
# import the pandas library with the alias pd
import pandas as pd

Define a list of car models.

In [ ]:
# Car models
models=["Tesla3","TeslaS","TeslaX","Bolt","Leaf","BMW_i3","e-Golf"]

Define a list containing the 3 year total sales in thousands of units

In [ ]:
# 3 year total sales in thousands of units
total_sales=[296, 67, 67, 58, 38, 17, 10]

Define a list of typical retail prices in thousands of US dollars.

In [ ]:
# Typical Retail Price in $thousands USD
price=[47, 89, 99, 32, 27, 83, 45]

Create a pandas data frame with column names "Model", "Sales", and "Price". Print the result.

In [ ]:
e_cars=pd.DataFrame({"Model": models,
                     "Sales": total_sales,
                     "Price": price})

# Print the data frame
print(e_cars)

    Model  Sales  Price
0  Tesla3    296     47
1  TeslaS     67     89
2  TeslaX     67     99
3    Bolt     58     32
4    Leaf     38     27
5  BMW_i3     17     83
6  e-Golf     10     45

Expected Output
```
    Model  Sales  Price
0  Tesla3    296     47
1  TeslaS     67     89
2  TeslaX     67     99
3    Bolt     58     32
4    Leaf     38     27
5  BMW_i3     17     83
6  e-Golf     10     45
```

### Exploring the Data Frame

Print the values of the `e_cars` data frame.

In [ ]:
# Print the values of e_cars
print(e_cars.values)

[['Tesla3' 296 47]
 ['TeslaS' 67 89]
 ['TeslaX' 67 99]
 ['Bolt' 58 32]
 ['Leaf' 38 27]
 ['BMW_i3' 17 83]
 ['e-Golf' 10 45]]

Expected Output
```
[['Tesla3' 296 47]
 ['TeslaS' 67 89]
 ['TeslaX' 67 99]
 ['Bolt' 58 32]
 ['Leaf' 38 27]
 ['BMW_i3' 17 83]
 ['e-Golf' 10 45]]
```

Print the columns of the `e_cars` data frame.

In [ ]:
# Print the column index of e_cars
print(e_cars.columns)

Index(['Model', 'Sales', 'Price'], dtype='object')

Expected Output
```
Index(['Model', 'Sales', 'Price'], dtype='object')
```

Print the rows of the `e_cars` data frame.

In [ ]:
# Print the row index of e_cars
print(e_cars.index)

RangeIndex(start=0, stop=7, step=1)

Expected Output
```
RangeIndex(start=0, stop=7, step=1)
```

### Accessing Values

Print the `Sales` column.

In [ ]:
# Print the 'Sales' column
print(e_cars['Sales'])

0    296
1     67
2     67
3     58
4     38
5     17
6     10
Name: Sales, dtype: int64

Expected Output
```
0    296
1     67
2     67
3     58
4     38
5     17
6     10
Name: Sales, dtype: int64
```

Filter for rows where Sales exceeds 50.

In [ ]:
# Filter for rows where Sales exceeds 50
above_50 = e_cars[e_cars['Sales']>50]

# See the result
print(above_50)

    Model  Sales  Price
0  Tesla3    296     47
1  TeslaS     67     89
2  TeslaX     67     99
3    Bolt     58     32

Expected Output
```
    Model  Sales  Price
0  Tesla3    296     47
1  TeslaS     67     89
2  TeslaX     67     99
3    Bolt     58     32
```

In [ ]:
# Filter for rows where Price is below 60
below_60 = e_cars[e_cars['Price']<60]

# See the result
print(below_60)

    Model  Sales  Price
0  Tesla3    296     47
3    Bolt     58     32
4    Leaf     38     27
6  e-Golf     10     45

### Creating Columns

Calculate the Revenue by multiplying the sales by the prices and add this as a new column to the `e_cars` data frame. Print the result.

In [ ]:
# Calculate the Revenue by multiplying the sales by the prices

e_cars['Revenue']=e_cars['Sales']*e_cars['Price']

# Print the data frame
print(e_cars)

    Model  Sales  Price  Revenue
0  Tesla3    296     47    13912
1  TeslaS     67     89     5963
2  TeslaX     67     99     6633
3    Bolt     58     32     1856
4    Leaf     38     27     1026
5  BMW_i3     17     83     1411
6  e-Golf     10     45      450

Expected Output
```
    Model  Sales  Price  Revenue
0  Tesla3    296     47    13912
1  TeslaS     67     89     5963
2  TeslaX     67     99     6633
3    Bolt     58     32     1856
4    Leaf     38     27     1026
5  BMW_i3     17     83     1411
6  e-Golf     10     45      450
```